// ==================ai服务商地址================
AI_SERVICE_URL=your_ai_service_path
// ==================apikey=====================
AI_API_KEY=your_api_key
// ==================模型名称====================
AI_MODEL_NAME=your_model_name
// ==================md文档目标路径===============
MD_PATH=your_path
// ==================数据库路径==================
DB_PATH=your_path